<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SystemTrayMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <SystemTrayMenu.Properties.Settings>
            <setting name="CurrentCultureInfoName" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutostartActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </SystemTrayMenu.Properties.Settings>
    </userSettings>
    <!-- 
    todo 1: 4k
    https://docs.microsoft.com/de-de/dotnet/framework/winforms/high-dpi-support-in-windows-forms
    https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/winforms/
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    
    todo 2: antivirus dedects stm as risk
    https://softwareengineering.stackexchange.com/questions/191003/how-to-prevent-my-executable-being-treated-from-av-like-bad-or-virus
    https://stackoverflow.com/questions/16673086/how-to-correctly-sign-an-executable
    https://blogs.msdn.microsoft.com/ieinternals/2011/03/22/everything-you-need-to-know-about-authenticode-code-signing/
    -->
</configuration>
