<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="SystemTrayMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemTrayMenu.Properties.Settings>
            <setting name="CurrentCultureInfoName" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutostartActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>Ctrl+Alt+Apps</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </SystemTrayMenu.Properties.Settings>
    </userSettings>
</configuration>