name: NetFramework

on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
    - name: Nuget Restore
      run: nuget restore SystemTrayMenu.sln
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1
    - name: Build with MSBuild
      run: msbuild SystemTrayMenu.sln -p:Configuration=Release
